body {
  color: #8e9194;
  background-color: #f4f6f9;
}
.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
  margin-top: 15px !important;
}

.form-group label {
  margin-bottom: 3px;
}

hr {
  display: block;
  height: 3px !important;
  border: 0 !important;
  border-top: 1px solid #b0914f !important;
  margin: 1em 0 !important;
  padding: 0 !important;
  border-color: #b0914f !important;
  background-color: #b0914f !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #b0914f !important;
}

.container {
  margin-top: 80px;
  padding: 10px;
  background-color: #f8f9fa !important;
  /* box-shadow: #8e9194 0px 0px 10px;
   */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
