<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <title>Register</title>
    <script>
        var app = angular.module('formApp', []);

        app.controller('formCtrl', function ($scope) {
            $scope.sendForm = function () {
                $scope.msg = 'Form Submited Successfully';
            };
            $scope.getClass = function (color) {
                return color.toString();
            }

        });
    </script>
</head>


<body ng-app="formApp" ng-controller="formCtrl">
    <div class='main-wrapper cen'>
        <div class="container main-box">
            <div class="row">
                <div class="col-md-7 column">
                    <img src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        class="main-img" alt="">
                </div>
                <div class="col-md-5  col-sm-12 form-col">

                    <div class="form-wrapper">

                        <div class="form-heading mb-4">
                            <h2 style="text-align: left;">Register Now</h2>
                        </div>
                        <div class="main-form-wrapper">
                            <form action="login.html" name="myForm" ng-submit="sendForm()">
                                <div class="row mb-3">
                                    <div class="col ">
                                        <input type="text" class="form-control" name="fname" id="fname"
                                            placeholder="First name" ng-model="person.fname" required>
                                        <span class="error" ng-show="myForm.fname.$error.required"> Required! </span>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="lname" id="fname"
                                            placeholder="First name" ng-model="person.lname" required>
                                        <span class="error" ng-show="myForm.lname.$error.required"> Required! </span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="email" ng-model="person.email" class="form-control" name="email"
                                        id="input-email" placeholder="Email" required>
                                    <span class="error" ng-show="myForm.email.$error.required">Required!</span>
                                    <span class="error" ng-show="myForm.email.$error.email">Invalid Email!</span>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" ng-model="password"
                                        id="input-password" placeholder="Password" ng-minlength="5" ng-maxlength="15">
                                    <p ng-show="myForm.password.$error.required">This filed is
                                        required</p>
                                    <p ng-show="(!myForm.password.$valid)">Password between 5
                                        to 8 characters</p>
                                </div>

                                <div class="form-group mb-3">

                                    <select class="form-control" id="input-gender" name="gender" ng-model="gender"
                                        required>
                                        <option disabled selected> Select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>

                                    <span class="error" ng-show="myForm.gender.$error.required"><i
                                            class="fa fa-exclamation-circle"></i> Gender Required</span>

                                </div>
                                <div class="mb-3">
                                    <input type="text" id="input-country" ng-model="country" name="country"
                                        class="form-control" placeholder="Country" required="">
                                    <span ng-show="myForm.$submitted || myForm.country.$dirty">
                                        <span class="error" ng-show="myForm.country.$error.required"><i
                                                class="fa fa-exclamation-circle"></i> Country Required</span>
                                        <span class="error" ng-show="myForm.country.$error.pattern"><i
                                                class="fa fa-exclamation-circle"></i> Country cannot be Number</span>
                                    </span>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" name="terms" ng-model="terms"
                                        id="input-terms" required>
                                    <label class="form-check-label" for="accept-terms">Accept Terms & Conditions</label>
                                    <span class="error" ng-show="myForm.terms.$error.required"> <br> You must agree to
                                        the
                                        terms</span>
                                </div>
                                <button type="submit" name="submit" class="mb-3 btn btn-success">Submit</button>
                                <h6>Already have an account? <a href="#">Login</a></h6>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>